<h1>Nuevo Telefono</h1>

<div class="row">
	<div class="span4 offset4">
    	<%= form_for(@phone) do |f| %>
            <%= render 'fields', f:f %>
      		<%= f.submit "Agregar", class: "btn btn-success" %>
    	<% end %>
  	</div>
</div>