<aside>
	<section>
		<h1>
			<%= @user.first_name %> 
			<%= @user.last_name %> 
		</h1>
		<p>
			Cedula: <%= @user.id_number %> <br/>
			Email: 	<%= @user.email %> <br/>
		</p>
	</section>
</aside>
