<h1>Reservación realizada:</h1>
<span class="first_name"><%= @reservation.user.first_name %></span><br/>
<span class="name"><%= @reservation.product.name %></span><br/>
<span class="expiration_date"><%= @reservation.expiration_date %></span><br/>