<div class="row">
	<div class="span4 offset4">
		<%= @address.address_name %>      
		<%= @address.location_type %>   
		<% if @address.belong_address %>
			<%= @address.belong_address.address_name %>
		<% end %>
	</div>
</div>