<h1>Adquiera una promoción</h1>

<div class="row">
	<div class="span4 offset4">
    	<%= form_for(@promotion) do |f| %>
            <%= render 'fields', f:f %>
      		<%= f.submit "Confirmar promoción", class: "btn btn-success" %>
    	<% end %>
  	</div>
</div>