<% provide(:title, 'All users') %>

<%= will_paginate @products %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name %>
    </li>
  <% end %>
</ul>

<%= will_paginate @products %>